*{
  margin: 3em;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(151, 218, 228);
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 2em;
}
.count {
  font-size: 6em;
  margin: 1em;
  color:black;
}
.In{
  font-size: 2em;
  margin: 1em;
  color:black;
}
.Re{
  font-size: 2em;
  margin: 1em;
  color:black;
}
.De{
  font-size: 2em;
  margin: 1em;
  color:black;
}

